* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
      url('../fonts/FuturaPT-Book.woff') format('woff');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
      url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
      url('../fonts/FuturaPT-Medium.woff2') format('woff');
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
      url('../fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-main-grey:#333333 ;
  --color-primary-white: #fff;
  --color-primary-grey: #949494;
  --main-font: "FuturaPT", "Arial", sans-serif;
  --background-color: #F9F8F8;;
}

body {
  font-family: "FuturaPT", "Arial", sans-serif;
  margin:0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  overflow-x: hidden;
  background-image: url(../images/bg-full.svg);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}


.container {
  max-width:1350px;
  padding-left:20px;
  padding-right:20px;
  margin-left: auto;
  margin-right: auto;
}


/* HEADER */

.header__nav_container {
  position: relative;
  z-index: 999;
}

.header__info-container {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  background: #F9F8F8;
  color:var(--color-main-grey);
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.info__header-address::before {
  content: "";
  background-image: url(../images/header-home.svg);
  display: inline-block;
  width: 14px;
  height: 13px;
  padding-right: 9px;
  background-repeat: no-repeat;

} 


.header__tel-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-left:106px ;
  margin-right: 98px;
}

.tel__link {
  text-decoration: none;
  color:var(--color-main-grey);
  display: flex;
  align-items: center;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
}

.tel__link:hover {
  color: #FFBD54;
}

.tel__link:active {
  color: #FFBD54;
  opacity: 0.6;
}

.telephone_icon::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url(../images/header-telefon.svg);
  padding-right: 9px;
  background-repeat: no-repeat;
}

.tel_dots::before {
  content: "";
  background-image: url(../images/header-dot.svg);
  display: block;
  width: 4px;
  height: 4px;
  margin:0 9px;
  background-repeat: no-repeat;
}

.info__header-days {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
}

.info__header-days::before {
  background-image: url(../images/calendar.svg);
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  padding-right: 9px;
  background-repeat: no-repeat;
}

.days-mar {
  padding-right: 17px;
}

.header__nav_container {
  background-color: var(--color-primary-white);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-main-grey);
  height: 61px;
  z-index: 999;

}

.nav-img {
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
}

.nav-img:hover {
  opacity: 0.8;
}

.nav-img:active {
  opacity: 0.6;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center ;
  width: 720px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.nav__item-active {
  display: flex;
  align-items: center;
}

.nav__item-active::before {
  background-image: url(../images/fish.svg);
  content: "";
  width: 15px;
  height: 15px;
  background-repeat:no-repeat;
  background-size: cover;
  margin-right: 15px;
}

.nav__item:active {
  opacity: 0.7;
}

.nav__item:not(:last-child) {
  margin-right: 55px;
}

.nav__link {
  text-decoration: none;
  color: var(--color-main-grey);
  position: relative;
  z-index: 1;
}

.nav__item:hover .nav__link::after {
  height: 3px;
}

.nav__link::after{
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: 0;
  content: "";
  background-color: #F4FFAD;
  width:100%;
  height: 0px;
}

.nav__question {
  text-decoration: none;
  color: var(--color-main-grey);
  display: inline-flex;
  align-items: center;
}

.nav__question::before {
  content: "";
  display: block;
  background-image: url(../images/nav-lapa.svg);
  background-repeat: no-repeat;
  padding-right: 4.68px;
  width: 23px;
  height: 30px;
}


/* HERO */

.hero {
  position: relative;
  z-index: 1;
  height: 630px;
}

.hero::after {
  content: "";
  background-image: url(../images/hero-animals.png);
  background-repeat: no-repeat;
  width: 850px;
  height: 820px;
  bottom: calc(-40px);
  left: calc(50%  - 900px);
  position: absolute;

}

.hero_content {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  top: 10px;
}

.hero_content::after {
  content: "";
  background-image: url(../images/hero_bird.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 730px;
  top: calc(50% + -10px);
  left: calc(50% + 430px);
  z-index: -111;
}

.hero__right__content {
  display: flex;
  flex-direction: column;
  max-width: 608px;
  align-items: flex-start;
  margin: 137px 87px;
  justify-content: space-between;

}

.hero__heading {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: var(--color-main-grey);
  margin: 0;
  position: relative;
  z-index: 1;
  }
  
  .blue-heading {
    color: #78C0DE;
  }



.hero__desc {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-primary-grey);
  max-width: 495px;
} 

.services_link {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-primary-white);
  background-color: var(--color-main-grey);
  text-decoration: none;
  padding: 15px 48px 16px 47px;
  cursor: pointer;
  border-radius: 3px;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;

}

.services_link:hover {
  background: rgba(51, 51, 51, 0.8);
}

.services_link:active {
  background: rgba(51, 51, 51, 0.6);
}

/* Purpose */

.purpose {
  margin-top: 177px;
}

.purspose__content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/Quotes.svg);
  background-repeat: no-repeat;
  width: 1135px;
  background-position:calc(50%) -10px ;
  padding: 50px;
}

.purpose__desc {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-primary-grey);
  position: relative;
  z-index: 1;
  width: 753px;
  padding:0;
  margin:0;

}

.purpose__desc::before {
  content: "";
  width: 140px;
  background-color: #DBDBDB;
  height: 1px;
  position: absolute;
  top: -43px;
  left: calc(50% - 110px);
}

.purpose__heading::after {
  content: "";
  width: 140px;
  background-color: #DBDBDB;
  height: 1px;
  position: absolute;
  top: calc(-45px);
  left: calc(50% - 110px);
}

.purpose__heading {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-main-grey);
  padding:0;
  margin-top:35px;
  position: relative;
  z-index: 1;
  text-align: center;
}



/* Services */

.services__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services__heading {
  margin: 0;
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: var(--color-main-grey);
}

.services__list {
  list-style-type: none;
  padding: 0;
}
